apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: deployment-backend
  name: deployment-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: deployment-backend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: deployment-backend
    spec:
      containers:
        - image: abdullahi10/myfirstapp:release
          name: myfirstapp
        resources: {}
status: {}
