name: Abdullahi

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.x

    - name: Build and test
      run: |
        cd frontend
        go test -v ./...
    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: frontend/test_report.txt
